<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Enviar parametros del Request HTTP GET - URL</title>
</head>
<body>
<h1>Enviar parametros del Request HTTP GET - URL</h1>
	<ul>
	<li>
	<a th:href="@{/params/string(texto='Hola adán')}">Saludos?texto= Hola adan</a>
	</li>
	<li>
	<a th:href="@{/params/string(texto='Que tal Gabriel')}">Saludos?texto= Que tal gabriel!</a>
	</li>
	<li>
	<a th:href="@{/params/mix-params(saludo='Que tal Gabriel', num=05)}">Saludos?texto= Que tal gabriel!</a>
	</li>
	<li>
	<a th:href="@{/params/mix-paramsRequest(saludo='Que tal Gabriel', num=8)}">Saludos?texto= Que tal gabriel!</a>
	</li>
	</ul>
</body>
</html>